.projectBox {
  width: 200px;
  height: 420px;
  border: 5px groove;
  border-radius: 15px;
  margin-right: 25px;
  margin-left: 25px;
  min-width: 300px;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 50px;
  overflow: auto;
}

.topBorder {
  border-top: 5px solid;
  margin-bottom: 50px;
}

.projSectionHeader {
  display: flex;
  justify-content: center;
}

.projTitle {
  display: flex;
  justify-content: center;
  font-style: oblique;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
}

#projButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nextProject {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  position: relative;
  text-align: center;
}

.projDesc {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}

#backgroundColor {
  background-color: rgb(159, 163, 159);
}

.flexButtons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
