.projectBox {
  width: 200px;
  height: 420px;
  border: 5px groove;
  border-radius: 15px;
  margin-right: 25px;
  margin-left: 25px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(196, 181, 181);
}

.proj-animation-1 {
  transition: all 300ms;

  &:hover {
    transform: scale(1.04) translateY(1rem);
    background-color: rgb(154, 185, 207);
    box-shadow: 0px 0 20px #0ff; /* outer right cyan */
  }
}

.container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  overflow: auto;
  height: 500px;
}

.topBorder {
  border-top: 5px solid;
  margin-bottom: 50px;
}

.projSectionHeader {
  display: flex;
  justify-content: center;
}

.projTitle {
  display: flex;
  justify-content: center;
  font-style: oblique;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
}

#projButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: gray;
}

#nextProject {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  position: relative;
  text-align: center;
}

.projDesc {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}

#backgroundColor {
  background-color: rgb(159, 163, 159);
  background-attachment: fixed;
}

.flexButtons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.projButton-Outline {
  outline: 1px solid;
  outline-color: rgb(103, 103, 103);
}
